<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <% if @user.errors.any? %>
      <%= @user.errors.count %>件のエラーが発生しました
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
      <%= form_with model: @user do |f| %>
        <div class="form-group">
          <label for="inputName">Name</label>
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name",class:"form-control" %>
        </div>
        <div class="form-group">
          <label for="inputName">Profile_image</label>
          <%= f.file_field :profile_image, placeholder:"Image", accept: "image/*",class:"form-control-file"%>
        </div>
        <div class="form-group">
          <label for="inputName">Introduction</label>
          <%= f.text_area :introduction, autofocus: true, id:"inputName", placeholder:"Introduction", class:"form-control"%>
        </div>
        <%= f.submit "Update User", class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
