<%= render 'booklist', user: @user %>
<h1>User</h1>
<% @users.each do |user| %>
  <%= image_tag user.get_profile_image(100,100) %>
  <h4>name</h4>
  <%= user.name %>

  <p><%= link_to "Show", "/books" %></p>
<% end %>

<!-- 新規登録フォーム -->
<%= form_with model: @newbook, url: '/books', method: :post do |f| %>
  <h1>New book</h1>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'CreateBook' %>
<% end %>
