<%= render 'booklist', user: @user %>
<div><%= flash[:notice] %></div>

<!-- Books -->
<h1>Books</h1>
  <%= image_tag @user.get_profile_image(100,100) %>

  <% @books.each do |book| %>
  <p>Title</p>
  <span>
    <%= link_to book.title, book_path(book.id) %>
  </span>
  <span>
    <%= book.body %>
  </span>
<% end %>

<!-- 新規登録フォーム -->
<h1>New book</h1>
<%= form_with model: @newbook, url: '/books', method: :post do |f| %>
  <div class="comment-div">Title</div>
  <%= f.text_field :title %>
  <div class="comment-div">Opinion</div>
  <%= f.text_area :body %>
  <div class="comment-button"><%= f.submit 'CreateBook', class: "btn btn-success" %></div>
<% end %>
