<%= render 'users/booklist', user: @user %>
<div><%= flash[:notice] %></div>

<!-- Books -->
<h1>Books</h1>
<p>Title</p>
<p>Opinion</p>
<% @books.each do |book| %>
  <span>
    <%= link_to book.title, book_path(book.id) %>
  </span>
  <span>
    <%= book.body %>
  </span>
<% end %>

<!-- 新規登録フォーム -->
<h1>New book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url: '/books', method: :post do |f| %>
<div class="comment-div">Title</div>
<%= f.text_field :title %>
<div class="comment-div">Opinion</div>
<%= f.text_area :body %>
<div class="comment-button"><%= f.submit 'CreateBook', class: "btn btn-success" %></div>
<% end %>
